.btn-danger:hover,
.btn-danger:active {
  background-color: initial;
  color: #050C9C;
}

.btn-danger:active {
  opacity: 0.5;
}


.search-container {
  position: relative;
}

.search-input {
  padding: 10px 30px 10px 10px;
  width: 800px;
  border-radius: 5px;
  border: 1px solid #ccc;
 margin: 30px;
}

.search-button {
  background-color: #007bff; /* Example color */
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3; /* Example color on hover */
}

.navbar {
  padding: 20px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 670px;
  transform: translateY(-50%);
  color: #f03e3e;
  pointer-events: none;
  
}