.btn-custom {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 20px 35px;
    border: 2px solid transparent;
    border-color: #000;
    color: #000;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background, color 0.1s ease-in-out;
  }
  
  .btn-custom:hover {
    background-color: #ADD899;
    color: #fff;
  }
  